services:
  # --- The Go Application ---
  app:
    container_name: prabogo_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DATABASE_HOST=postgres
      - CACHE_HOST=redis
      - MESSAGE_HOST=rabbitmq
      - APP_MODE=debug 
    depends_on:
      - postgres
      - redis
      - rabbitmq
    restart: on-failure
    command: ["http"]

  # --- Infrastructure Services ---
  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    restart: unless-stopped
    command: ["redis-server", "--requirepass", "${CACHE_PASSWORD:-changeme}"]

  redisinsight:
    image: redislabs/redisinsight:latest
    ports:
      - 5540:5540
    depends_on:
      - redis
    restart: unless-stopped

  postgres:
    image: postgres:14-alpine
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD:-changeme}
      - POSTGRES_USER=${DATABASE_USERNAME:-prabogo}
      - POSTGRES_DB=${DATABASE_NAME:-prabogo}
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:4.0-management
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: ${MESSAGE_USER:-prabogo}
      RABBITMQ_DEFAULT_PASS: ${MESSAGE_PASSWORD:-changeme}
    restart: unless-stopped

volumes:
  redis_data:
  postgres_data: